/* Style "global" */
* {
    font-family: Tahoma, Verdana, sans-serif;
    padding: 0%;
    margin: 0%;
}


body {
    background: linear-gradient(#e3eced7b, #afd7d77e, #9edadb7e, #e3eced7b);
}
/* style main */

main {
    margin: 3%;
    padding: 2rem;
    max-width: 47%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.24);
    border:  1.5px  solid rgba(0, 0, 0, 0.4);
    background-color: #fff;
   
}

.h1 {
    font-size: 1.2rem;
    text-align: center;
}

h2 {
    font-size: 2.2em;
    text-align: center;
    margin: 3rem;
}


/* style form */
.form {
    margin: 9px;
    padding: 9px;
    margin-left: auto;
    margin-right: auto;
}

.space {
    display: inline-block;
    width: 49%;
}

.space-2 {
    width: 49%;
}

.scp {
    margin: 1.5rem;
}


/* style cuestionario */
.ancho label {
    display: block;
}

.border {
    margin: 5px 2px;
    padding: 11px;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
    border:  0.8px  solid rgba(0, 0, 0, 0.4);
}


.ancho input {
    width: 99%;
    border: none;
    outline: none;
}


.inline {
    display: inline-block;
}

.inline-02 {
    display: inline-block;
}

select {
    width: 14rem;
    border: none;
    appearance: none;
    outline: none;
}

.error {
    font-size: 0.8em;
    color: red;
    font-weight: 500;
}

/* style checkbox */

.term {
    margin: 3%;
}

/* style button enviar */
.enviar {
    margin: 3% 4% 0%;
    max-width: 20%;
}

.enviar button {
    background-color: #159A9C;
    border: none;
    padding: 5% 15%;
    border-radius: 0.5em;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
}


/* style de confimacion de datos */

.center {
    max-width: 40%;
    margin: 10% 20% 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.center p {
    margin: 10%;
}

.center p a {
    background-color: #159A9C;
    padding: 2%;
    text-decoration: none;
    border-radius: 2em;
}

#noigual {
    color: red;
    font-size: 0.8em;
}
/* style  terminos y condiciones */

.terminosYcondiciones {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.terminosYcondiciones h2 {
    text-align: center;
    padding: 3%;
}

.terminosYcondiciones .termYcond {
    background-color: white;
    padding: 2%;
    border-radius: 2em;
}

.termYcond p {
    background-color: white;
}

.container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    min-height: 290px;
    min-width: 250px;
    max-width: 370px;
    padding: 44px;
    margin-bottom: 28px;
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.55);
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.show-password-icon {
    width: 24px;
    height: 24px;
    fill: #888;
    cursor: pointer;
  }
 
#error-password {
    display: none;
}
/* Estilos adicionales para la adaptación móvil */
@media only screen and (max-width: 600px) {
    .form {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .form .space {
        grid-template-columns: 1fr;
    }

    .form .space-2 {
        grid-template-columns: 1fr;
    }

    .form .space .ancho,
    .form .space-2 .ancho {
        grid-template-columns: 1fr;
    }

    .form .space .border,
    .form .space-2 .border {
        grid-template-columns: 1fr;
    }
}
